html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(31, 31, 111, 0.9444152661064426) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}
