html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(94, 90, 228, 1) 13%,
    rgba(111, 88, 215, 1) 66%,
    rgba(124, 86, 205, 1) 84%,
    rgba(135, 85, 196, 1) 100%
  );
}
